e2studio/.settings
e2studio/Debug/*
!e2studio/Debug/*.hex

e2studio/Release
e2studio/ra
e2studio/ra_cfg
e2studio/ra_gen
e2studio/*.log
e2studio/.secure_*
e2studio/*.pincfg

e2studio/cert/*.h
e2studio/cert/*.pem

.vscode
